body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:flex;
    flex-direction:column;
    margin:0px;
}

.header,
.top,
.footer {
    background-color: #1f2937;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-left: 100px;
    padding-right: 100px;
}

.logo {
    color:#f9faf8;
    font-size:24px;
    justify-content: center;
}

ul {
    display:flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 16px;
    }

a,
p.text,
p.placeholder {
    font-size:18px;
    color:#e5e7eb;
}

.top {
    display:flex;
    justify-content: space-evenly;
    flex: 1;
    gap: 36px;
    padding:100px;
}

h1 {
    font-size: 48px;
    color:#f9faf8;
    font-weight: 900;
    margin: 0px;
    padding: 0px;
}

p.text {
    flex-wrap: wrap;
    margin-top:10px;
    margin-bottom:10px;
}

.left button {
    background-color: #3882F6;
    color:white;
    font-weight: 900;
    border-radius:5px;
    padding: 8px 24px;
}

.placeholder {
    display:flex;
    background-color:#6c6c6d;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h2 {
    display:flex;
    justify-content: center;
    font-size: 36px;
    color:#1f2937;
    font-weight:900;
    margin: 50px;
}

.container {
    display:flex;
    justify-content: space-evenly;
    margin: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    gap: 60px;
}

.container p {
    display:flex;
    text-align: center;
}

/*Added image line because wanted the image class*/

img {
    display:flex;
    border-radius:10px;
    border: solid #3882F6;
    aspect-ratio: 1/1;
}

.more {
    background-color: #e5e7eb;

}

.chunk {
    padding:100px;
}

.quote {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color:#1f2937;
    font-weight:300;
    font-style:italic;
    margin: 0px;
}

.thor {
    display:flex;
    justify-content: end;
    font-weight: 900;
    margin: 0px;
}

.blue {
    display:flex;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    margin: 50px;
    padding: 40px 50px;
    gap: 20px;
}

.blue p {
    margin:0px;
    padding:0px;
}

.call {
    font-weight: 700;
    font-size:18px;
}

.blue button {
    background-color: #3882F6;
    color:white;
    font-weight: 900;
    border-radius:5px;
    border: 2px solid white;
    padding: 1px 30px;
}

.footer p {
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px;
}